name: Pre-Commit

on:
  workflow_call:

env:
  PY_VERSION: "3.x"
  GO_VERSION: "^1.23.0"

jobs:
  terraform_fmt:
    name: terraform_fmt
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: false
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Checkout precommit config
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          repository: MottoWolf/terraform-precommit
          path: terraform-precommit
      - name: Install Python ${{ env.PY_VERSION }}.X
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: ${{ env.PY_VERSION }}
      - name: Install TFenv
        run: |
          git clone --depth=1 https://github.com/tfutils/tfenv.git ~/.tfenv
          ln -sfn ~/.tfenv/bin/* /usr/local/bin
          tfenv install
          tfenv use
      - name: Install pre-commit dependencies
        run: |
          pip install pre-commit
      - name: Copy precommit config
        run: |
          cp -r -n terraform-precommit/config/. -t $GITHUB_WORKSPACE
      - name: Execute pre-commit
        run: |
          pre-commit run terraform_fmt --color=always --show-diff-on-failure --all-files

  terraform_tflint:
    name: terraform_tflint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: false
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Checkout precommit config
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          repository: MottoWolf/terraform-precommit
          path: terraform-precommit
      - name: Install Python ${{ env.PY_VERSION }}.X
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: ${{ env.PY_VERSION }}
      - name: Install pre-commit dependencies
        run: |
          pip install pre-commit
          curl -s https://raw.githubusercontent.com/terraform-linters/tflint/master/install_linux.sh | bash
      - name: Copy precommit config
        run: |
          cp -r -n terraform-precommit/config/. -t $GITHUB_WORKSPACE
      - name: Execute pre-commit
        run: pre-commit run terraform_tflint --color=always --show-diff-on-failure --all-files

  check-yaml:
    name: check-yaml
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: false
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Checkout precommit config
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          repository: MottoWolf/terraform-precommit
          path: terraform-precommit
      - name: Install Python ${{ env.PY_VERSION }}.X
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: ${{ env.PY_VERSION }}
      - name: Install pre-commit dependencies
        run: |
          pip install pre-commit
      - name: Copy precommit config
        run: |
          cp -r -n terraform-precommit/config/. -t $GITHUB_WORKSPACE
      - name: Execute pre-commit
        run: pre-commit run check-yaml --color=always --show-diff-on-failure --all-files

  terraform_validate:
    name: terraform_validate
    runs-on: ubuntu-24.04
    needs:
      [terraform_fmt, check-yaml, terraform_tflint]
    steps:
      - uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: false
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Checkout precommit config
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          repository: MottoWolf/terraform-precommit
          path: terraform-precommit
      - name: Install Python ${{ env.PY_VERSION }}.X
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: ${{ env.PY_VERSION }}
      - name: Install TFenv
        run: |
          git clone --depth=1 https://github.com/tfutils/tfenv.git ~/.tfenv
          ln -sfn ~/.tfenv/bin/* /usr/local/bin
          tfenv install
          tfenv use
      - name: Install pre-commit dependencies
        run: |
          pip install pre-commit
      - name: Copy precommit config
        run: |
          cp -r -n terraform-precommit/config/. -t $GITHUB_WORKSPACE
      - name: Execute pre-commit
        run: pre-commit run terraform_validate --color=always --show-diff-on-failure --all-files

  terraform_trivy:
    name: terraform_trivy
    runs-on: ubuntu-24.04
    needs: terraform_validate
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Run Trivy vulnerability scanner in IaC mode
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: "fs"
          hide-progress: false
          exit-code: "1"
          scanners: "vuln,secret,misconfig"
          severity: "CRITICAL,HIGH"
          skip-dirs: ".terraform/*"

  gitleaks:
    name: gitleaks
    runs-on: ubuntu-24.04
    needs: terraform_validate
    steps:
      - uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: false
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Checkout precommit config
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          repository: MottoWolf/terraform-precommit
          path: terraform-precommit
      - name: Install Python ${{ env.PY_VERSION }}.X
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: ${{ env.PY_VERSION }}
      - name: Install pre-commit dependencies
        run: |
          pip install pre-commit
      - name: Copy precommit config
        run: |
          cp -r -n terraform-precommit/config/. -t $GITHUB_WORKSPACE
      - name: Execute pre-commit
        run: pre-commit run gitleaks --color=always --show-diff-on-failure --all-files

